.sign-up-form {
    display: flex;
    justify-content: space-around;
    padding-left: 15%;
    padding-right: 15%;
    margin-bottom: 15px;
}

.sign-up-form input {
    flex: 1;
    margin-left: 5px;
    margin-right: 5px;
}

.sign-button {
    width: 100%;
}