.userSection {
    display: flex;
    flex-direction: column;
}

.profileSection {
    display: flex;
    flex-direction: column;   
}

.miniSection {
    display: flex;
    flex-direction: row;
    align-self: center;
    margin-bottom: 25px;
    margin-inline: 55px;
}

.miniSection label {
    margin-left: 55px;
    margin-right: 55px;
}

#description {
    margin-bottom: 25px;
}

#description * {
    vertical-align: middle;
}

#description textarea {
    width: 45%;
    height: 100%;
    background: #225322;
    box-shadow: 0 0 10px #264626;
    border: #225322;
}

#update {
    color: white;
    background-color: green;
    margin-right: 15px;
    font-weight: bold;
    box-shadow: 0 0 10px #264626;
}

#reset {
    color: white;
    background-color: rgba(255, 0, 0, 0.726);
    margin-left: 15px;
    font-weight: bold;
    box-shadow: 0 0 10px #264626;
}

h4 {
    margin: 5px;
}

.scoresModal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #336333;
    border: 1px solid #ccc;
    padding: 80px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    border-radius: 4px;
    font-family: 'Courier New', Courier, monospace;
    outline: none;
    width: 50%;
    overflow-y: auto;
    max-height: 400px;
    padding: 45px;
    border-radius: 55px;
}

.scoresModalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(0, 0, 0, 0);
    overflow-y: auto;
}

.scoresModalContent {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    font-family: 'Courier New', Courier, monospace;
    background-color: #336333;
    overflow-y: auto;
}

.scoresModal * {
    align-items: center;
    background-color: #336333;
    overflow-y: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-shadow: 0 0 15px #264626;
}

#scoresButton {
    margin-top: 15px;
    background-color: #225322;
    width: 45%;
    font-weight: bold;
    box-shadow: 0 0 15px #264626;
}

form {
    font-weight: bold;
    color: gainsboro;
    background-color: #396939;
    padding: 15px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 10%;
    margin-right: 10%;
    box-shadow: inset 0 0 10px #264626;
    border-radius: 105px;
}

form img {
    width: 200px;
    height: 200px;
    align-self: center;
    margin-bottom: 15px;
    box-shadow: 0 0 15px #264626;
}

input {
    background: #225322;
    border: #225322;
    box-shadow: 0 0 10px #264626;
    text-shadow: 0 0 15px #264626;
    font-family: 'Courier New', Courier, monospace;
}

form * {
    text-shadow: 0 0 15px #264626;
}

hr {
    color: #264626;
}