.userSection {
    display: flex;
    flex-direction: column;
}

.profileSection {
    display: flex;
    flex-direction: column;   
}

.miniSection {
    display: flex;
    flex-direction: row;
    align-self: center;
    margin-bottom: 25px;
    margin-inline: 55px;
}

.miniSection label {
    margin-left: 55px;
    margin-right: 55px;
}

#description {
    margin-bottom: 25px;
}

#description * {
    vertical-align: middle;
}

#description textarea {
    width: 35%;
    height: 100%;
}

#update {
    color: white;
    background-color: green;
    margin-right: 15px;
}

#reset {
    color: white;
    background-color: rgba(255, 0, 0, 0.726);
    margin-left: 15px;
}

h4 {
    margin: 5px;
}

.scoresModal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #352510;
    border: 1px solid #ccc;
    padding: 80px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    border-radius: 4px;
    font-family: 'Courier New', Courier, monospace;
    outline: none;
    width: 50%;
    overflow-y: auto;
    max-height: 400px;
}

.scoresModalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(0, 0, 0, 0);
    overflow-y: auto;
}

.scoresModalContent {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    font-family: 'Courier New', Courier, monospace;
    background-color: #352510;
    overflow-y: auto;
}

.scoresModal * {
    align-items: center;
    background-color: #352510;
    overflow-y: auto;
}