#root {
    width: 100%;
    height: 100vh;
    max-width: 100%;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: #458545;
    display: flex;
    flex-direction: column;
}

.my-nav {
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: #336333;
}

.sign_link {
    color: gold;
    font-weight: bold;
    text-shadow: 0 0 10px rgba(52, 44, 0, 0.78);
}

.sign_link:hover {
    color: orange;
}

.logout {
    padding: 0px;
    margin: 0px;
    color: gold;
}

.logout:hover {
    color: orange;
    cursor: pointer;
}

.appInfoSection {
    position: absolute;
    top: 25px;
    right: 55px;
    display: flex;
    flex-direction: column;  
    justify-content: center;
    align-items: center;
}

#profileMini {
    flex-direction: row;
    margin-bottom: 0px;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    display: flex;
    top: 20px;
    right: 55px;
}

#profileMini * {
    margin-left: 15px;
}

#arcadeLink {
    position: absolute;
    left: 55px;
    top: 25px;
}

img {
    width: 35px;
    height: 35px;
    margin-right: 10px;
}